@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Regular', sans-serif;
}

* {
  margin: 0px 0px;
  padding: 0px 0px;
}

.container {
  max-width: 1472px;
  margin: auto;
}

@media (max-width: 1685px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1376px) {
  .container {
    max-width: 1376px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 991px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 10px;
  }
}

@media (max-width: 479px) {
  .container {
    max-width: 479px;
  }
}

.container-header {
  max-width: 1680px;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 67px;
  padding-bottom: 168px;
}

@media (max-width: 767px) {
  header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0e1a35;
    position: fixed;
    width: 100%;
    margin-top: -2px;
  }
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  header .navbar {
    width: 100%;
  }
}

header .navbar__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  header .navbar__burger {
    display: block;
  }
}

header .navbar__burger .burger-span {
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

header .navbar__burger:before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
}

header .navbar__burger:after {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}

@media (max-width: 920px) {
  header .navbar__logo {
    max-width: 150px;
  }
}

@media (max-width: 767px) {
  header .navbar__logo {
    margin-left: 20px;
  }
}

header .navbar__logo img {
  max-width: 100%;
}

@media (max-width: 767px) {
  header .navbar nav {
    display: none;
  }
}

header .navbar nav .navbar__link {
  margin-left: 50px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 940px) {
  header .navbar nav .navbar__link {
    margin-left: 25px;
  }
}

header .navbar nav .navbar__link:hover {
  color: #5584ff;
}

header .navbar nav .navbar__login {
  display: inline-block;
  padding: 15px 43px;
  border: 1px solid rgba(85, 132, 255, 0.3);
  border-radius: 24px;
  color: #5584ff;
}

header .navbar nav .navbar__login:hover {
  background-color: #5584ff;
  color: #ffffff;
}

.background-container {
  background-color: #0e1a35;
  padding-top: 1px;
  background: #0e1a35 url("/img/graph-bg.png") no-repeat center center;
}

.mainscreen {
  padding-bottom: 560px;
}

@media (max-width: 767px) {
  .mainscreen {
    padding-bottom: 300px;
  }
}

@media (max-width: 767px) {
  .mainscreen {
    padding-bottom: 250px;
    padding-top: 150px;
  }
}

.mainscreen__title {
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  -webkit-animation: appear-right 1.5s forwards;
          animation: appear-right 1.5s forwards;
}

.mainscreen__title h1 {
  font-weight: 400;
  font-family: 'Roboto Thin', sans-serif;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .mainscreen__title h1 {
    font-size: 40px;
  }
}

.mainscreen__subtitle {
  display: block;
  margin: auto;
  text-align: center;
  color: #8492af;
  font-size: 36px;
  margin-bottom: 90px;
  -webkit-animation: appear-left 1.5s forwards;
          animation: appear-left 1.5s forwards;
}

@media (max-width: 767px) {
  .mainscreen__subtitle {
    font-size: 24px;
    margin-bottom: 50px;
  }
}

.mainscreen__button {
  text-align: center;
  margin: auto;
  -webkit-animation: appear-bottom 1.5s forwards;
          animation: appear-bottom 1.5s forwards;
}

.mainscreen__button .mainscreen__button-link {
  font-size: 18px;
  padding: 16px 55px;
  color: #ffffff;
  background: #5584ff;
  border-radius: 24px;
  text-decoration: none;
}

.mainscreen__button .mainscreen__button-link:hover {
  background: #ffffff;
  color: #5584ff;
}

@-webkit-keyframes appear-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes appear-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes appear-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes appear-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes appear-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1000%);
            transform: translateY(1000%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes appear-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1000%);
            transform: translateY(1000%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.advantages__home {
  margin: auto;
  text-align: center;
  margin-top: -450px;
  padding-bottom: 130px;
  -webkit-animation: two-appear-bottom 1s forwards;
          animation: two-appear-bottom 1s forwards;
}

.advantages__home-img {
  -webkit-box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
  max-width: 100%;
}

@media (max-width: 767px) {
  .advantages__home {
    margin-top: -200px;
    padding-bottom: 60px;
  }
}

@media (max-width: 390px) {
  .advantages__home {
    margin-top: -150px;
    padding-bottom: 60px;
  }
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 220px;
}

@media (max-width: 1156px) {
  .advantages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .advantages__row {
    margin-bottom: 50px;
  }
}

.advantages__row .advantages__item {
  padding: 0 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

@media (max-width: 1360px) {
  .advantages__row .advantages__item {
    padding: 0 30px;
  }
}

@media (max-width: 1156px) {
  .advantages__row .advantages__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 150px;
  }
}

@media (max-width: 678px) {
  .advantages__row .advantages__item {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .advantages__row .advantages__item {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    margin-bottom: 80px;
  }
}

.advantages__row .advantages__item .adv-item__img {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .advantages__row .advantages__item .adv-item__img {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .advantages__row .advantages__item .adv-item__img {
    margin-bottom: 20px;
    max-width: 50px;
    max-height: 50px;
  }
}

.advantages__row .advantages__item .adv-item__img img {
  max-width: 100%;
}

.advantages__row .advantages__item .adv-item__title {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 480px) {
  .advantages__row .advantages__item .adv-item__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.advantages__row .advantages__item .adv-item__subtitle {
  height: 90px;
  overflow: hidden;
  margin-bottom: 52px;
  font-size: 18px;
  color: #8492af;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 480px) {
  .advantages__row .advantages__item .adv-item__subtitle {
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    margin-bottom: 30px;
  }
}

.advantages__row .advantages__item .adv-item__button a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 17px 85px;
  border-radius: 24px;
  border: 1px solid rgba(132, 146, 175, 0.3);
}

@media (max-width: 480px) {
  .advantages__row .advantages__item .adv-item__button a {
    padding: 12px 62px;
  }
}

.advantages__row .advantages__item .adv-item__button a:hover {
  background-color: rgba(132, 146, 175, 0.2);
}

.adv-one-appear {
  -webkit-animation: two-items-appear 1.5s 0s forwards;
          animation: two-items-appear 1.5s 0s forwards;
}

.adv-two-appear {
  -webkit-animation: two-items-appear 1.5s 0.3s forwards;
          animation: two-items-appear 1.5s 0.3s forwards;
}

.adv-three-appear {
  -webkit-animation: two-items-appear 1.5s 0.6s forwards;
          animation: two-items-appear 1.5s 0.6s forwards;
}

@-webkit-keyframes two-appear-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes two-appear-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes two-items-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes two-items-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.all-you-need {
  padding-bottom: 273px;
}

@media (max-width: 767px) {
  .all-you-need {
    padding-bottom: 50px;
  }
}

.all-you-need__content-container {
  max-width: 655px;
  padding-top: 80px;
  opacity: 0;
}

@media (max-width: 767px) {
  .all-you-need__content-container {
    margin-left: 20px;
    padding-top: 0px;
  }
}

.all-you-need__title {
  width: 100%;
  margin-bottom: 59px;
}

.all-you-need__title h2 {
  font-weight: 400;
  font-size: 60px;
  font-family: 'Roboto Thin', sans-serif;
}

@media (max-width: 767px) {
  .all-you-need__title h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .all-you-need__title {
    margin-bottom: 30px;
  }
}

.all-you-need__subtitle {
  margin-bottom: 65px;
  font-size: 18px;
  color: #8492af;
  padding-right: 74px;
}

.all-you-need__subtitle p {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .all-you-need__subtitle p {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .all-you-need__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.all-you-need__list ul {
  list-style-type: none;
}

.all-you-need__list ul li {
  margin-bottom: 34px;
  color: #5584ff;
  font-size: 22px;
}

.all-you-need__list ul li:before {
  content: url("../img/mark.png");
  display: inline-table;
  vertical-align: middle;
  position: relative;
  left: -10px;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .all-you-need__list ul li {
    font-size: 14px;
    margin-bottom: 17px;
  }
}

.bg-anim {
  -webkit-animation: bg-img 1s forwards;
          animation: bg-img 1s forwards;
}

.bg-anim_rev {
  animation: appeare 1s forwards reverse;
}

.appeared {
  -webkit-animation: appeare 2s forwards;
          animation: appeare 2s forwards;
}

.appeared_rev {
  animation: appeare 2s forwards reverse;
}

@-webkit-keyframes bg-img {
  0% {
    background: url("../img/laptop-bg.png") no-repeat 2000px 0px;
  }
  100% {
    background: url("../img/laptop-bg.png") no-repeat 900px 0px;
  }
}

@keyframes bg-img {
  0% {
    background: url("../img/laptop-bg.png") no-repeat 2000px 0px;
  }
  100% {
    background: url("../img/laptop-bg.png") no-repeat 900px 0px;
  }
}

@-webkit-keyframes appeare {
  0% {
    opacity: 0;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  50% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes appeare {
  0% {
    opacity: 0;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  50% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.drag-n-drop {
  background: #0e1a35 url("../img/graph-bg.png") no-repeat center center;
  padding-top: 163px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .drag-n-drop {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.drag-n-drop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1500px) {
  .drag-n-drop__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.drag-n-drop__img-container {
  opacity: 0;
}

@media (max-width: 1500px) {
  .drag-n-drop__img-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: block;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.drag-n-drop__img {
  max-width: 100%;
}

.drag-n-drop__text-block {
  max-width: 505px;
  opacity: 0;
}

@media (max-width: 1500px) {
  .drag-n-drop__text-block {
    margin-bottom: 80px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: block;
    text-align: center;
  }
}

.drag-n-drop__title {
  margin-bottom: 47px;
}

.drag-n-drop__title h2 {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Roboto Thin', sans-serif;
  color: white;
}

@media (max-width: 767px) {
  .drag-n-drop__title h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .drag-n-drop__title {
    margin-bottom: 25px;
  }
}

.drag-n-drop__subtitle {
  margin-bottom: 53px;
  font-size: 18px;
  color: #8492af;
  line-height: 30px;
}

.drag-n-drop__subtitle p {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .drag-n-drop__subtitle p {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .drag-n-drop__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 20px;
  }
}

.drag-n-drop__left-arrow {
  margin-right: 19px;
}

.appear-right {
  -webkit-animation: appear-right 2s forwards;
          animation: appear-right 2s forwards;
}

.appear-left {
  -webkit-animation: appear-left 2s forwards;
          animation: appear-left 2s forwards;
}

.template {
  padding: 100px 0px 130px 0px;
}

@media (max-width: 767px) {
  .template {
    padding: 50px 0px 60px 0px;
  }
}

.template__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template__title {
  text-align: center;
  opacity: 0;
}

.template__title h2 {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Roboto Thin', sans-serif;
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .template__title h2 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}

.template__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 86px;
  max-width: 995px;
  font-weight: 400;
  color: #8492af;
  opacity: 0;
}

@media (max-width: 767px) {
  .template__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
    max-width: 500px;
  }
}

.template__img-block {
  opacity: 0;
}

.template__img-block img {
  max-width: 100%;
}

.def-appear {
  -webkit-animation: two-items-appear 1s 0s forwards;
          animation: two-items-appear 1s 0s forwards;
}

.def-appear-delay {
  -webkit-animation: two-items-appear 1s 0.5s forwards;
          animation: two-items-appear 1s 0.5s forwards;
}

.def-appear-delaym {
  -webkit-animation: two-items-appear 1s 1s forwards;
          animation: two-items-appear 1s 1s forwards;
}

.services {
  padding: 20px 0px 104px 0px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  margin-bottom: 90px;
}

.services__title h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Roboto Thin', sans-serif;
}

@media (max-width: 767px) {
  .services__title h2 {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .services__title h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .services__title {
    margin-bottom: 50px;
  }
}

.services .cards {
  margin-bottom: 109px;
}

@media (max-width: 767px) {
  .services .cards {
    margin-bottom: 50px;
  }
}

.services .cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1300px) {
  .services .cards__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.services .cards__item {
  margin: 0 70px;
  padding: 48px 59px 30px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1550px) {
  .services .cards__item {
    margin: 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1300px) {
  .services .cards__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-bottom: 60px;
  }
}

@media (max-width: 1254px) {
  .services .cards__item {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
}

@media (max-width: 480px) {
  .services .cards__item {
    margin: 0 10px 30px 10px;
    padding: 36px 45px 23px 40px;
  }
}

.services .cards__title {
  margin-bottom: 55px;
}

@media (max-width: 480px) {
  .services .cards__title {
    margin-bottom: 25px;
  }
}

.services .cards__title h4 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .services .cards__title h4 {
    font-size: 20px;
  }
}

.services .cards__price {
  margin-bottom: 35px;
  font-size: 24px;
  color: #8492af;
}

@media (max-width: 480px) {
  .services .cards__price {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.services .cards__price .dollar {
  color: #0e1a35;
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .services .cards__price .dollar {
    font-size: 30px;
  }
}

.services .cards__price .price-num {
  color: #0e1a35;
  font-size: 72px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .services .cards__price .price-num {
    font-size: 54px;
  }
}

.services .cards__advantages ul {
  list-style-type: none;
}

.services .cards__advantages ul li {
  font-size: 18px;
  color: #8492af;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .services .cards__advantages ul li {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.services .cards__advantages ul li:before {
  content: url("../img/mark.png");
  display: inline-table;
  vertical-align: middle;
  margin-right: 10px;
}

.services .cards__advantages ul .red::before {
  content: url("../img/mark_red.png");
  display: inline-table;
  vertical-align: middle;
  margin-right: 10px;
}

.services__subtitle {
  text-align: center;
  max-width: 875px;
  font-size: 18px;
  line-height: 30px;
  color: #8492af;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .services__subtitle {
    font-size: 14px;
    max-width: 500px;
    margin-bottom: 50px;
  }
}

.services__button-link {
  padding: 16px 61px;
  background-color: #5584ff;
  color: #ffffff;
  border-radius: 24px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.services__button-link:hover {
  background: #0e1a35;
}

.shaked {
  -webkit-animation: shake 1s forwards;
          animation: shake 1s forwards;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.footer {
  background-color: #0e1a35;
  padding: 69px 0px 65px 0px;
  font-size: 18px;
  color: #8492af;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .footer__rights {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__links {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.footer__links ul {
  list-style-type: none;
  display: inline-block;
}

@media (max-width: 480px) {
  .footer__links ul {
    display: block;
    margin-bottom: 25px;
  }
}

.footer__links ul li {
  display: inline-block;
  margin-right: 50px;
}

@media (max-width: 815px) {
  .footer__links ul li {
    margin-right: 20px;
  }
}

.footer__links ul li a {
  text-decoration: none;
  color: #8492af;
}

.footer__links ul li a:hover {
  color: #5584ff;
}

.footer__social {
  display: inline-block;
}

.footer__social img {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */