.all-you-need {
    background: url("../img/laptop-bg.png") no-repeat 148% 0%;
    padding-bottom: 273px;

    &__content-container {
        max-width: 655px;
        padding-top: 80px;
        
    }

    &__title {
    
        margin-bottom: 59px;

        h2 {
            font-weight: 400;
            font-size: 60px;
            @include thin;
        }
    }

    &__subtitle {
        margin-bottom: 65px;
        font-size: 18px;
        color: $gray;
        padding-right: 74px;
        p {
            margin-bottom: 30px;
        }
    }
    
    &__list {

        ul {
            list-style-type: none;
            li {
                margin-bottom: 34px;
                color: $light-blue;
                font-size: 22px;

                &:before {
                    content: url("../img/mark.png");
                    display: inline-table;
                    vertical-align: middle;
                    position: relative;
                    left: -10px;
                    margin-left: 8px;
                }
            }
        }
        
    }    

    
}