.all-you-need {
    background: url("../img/laptop-bg.png") no-repeat 800px 0px;
    padding-bottom: 273px;

    @media (max-width: 767px) {
        padding-bottom: 50px;
    }
    

    &__content-container {
        max-width: 655px;
        padding-top: 80px;
        
        @media (max-width: 767px) {
            margin-left: 20px;
            padding-top: 0px;
        }
    }

    &__title {
    
        margin-bottom: 59px;

        h2 {
            font-weight: 400;
            font-size: 60px;
            @include thin;

            @media (max-width: 767px) {
                font-size: 40px;
                
            }
        }

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        margin-bottom: 65px;
        font-size: 18px;
        color: $gray;
        padding-right: 74px;
        p {
            margin-bottom: 30px;

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }

        @media (max-width: 767px) {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
    
    &__list {

        ul {
            list-style-type: none;
            li {
                margin-bottom: 34px;
                color: $light-blue;
                font-size: 22px;

                &:before {
                    content: url("../img/mark.png");
                    display: inline-table;
                    vertical-align: middle;
                    position: relative;
                    left: -10px;
                    margin-left: 8px;
                }

                @media (max-width: 767px) {
                    font-size: 14px;
                    margin-bottom: 17px;
                }
            }
        }
        
    }    

    
}