.template {
    padding: 100px 0px 130px 0px;

    &__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        h2 {
            font-size: 60px;
            font-weight: 400;
            @include thin;
            margin-bottom: 48px;
        }
        
    }

    &__subtitle {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 86px;
        max-width: 995px;
        font-weight: 400;
        color: $gray;
    }
}