.template {
    padding: 100px 0px 130px 0px;

    @media (max-width: 767px) {
        padding: 50px 0px 60px 0px;
    }

    &__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    &__title {
        text-align: center;
        opacity: 0;

        h2 {
            font-size: 60px;
            font-weight: 400;
            @include thin;
            margin-bottom: 48px;

            @media (max-width: 767px) {
                font-size: 40px;
                margin-bottom: 25px;
            }
        }
        
    }

    &__subtitle {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 86px;
        max-width: 995px;
        font-weight: 400;
        color: $gray;
        opacity: 0;

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 50px;
            max-width: 500px;
        }

    }

    &__img-block {
        opacity: 0;

        img {
            max-width: 100%;
        }
    }
}

.def-appear {
    animation: two-items-appear 1s 0s forwards;
}

.def-appear-delay {
    animation: two-items-appear 1s 0.5s forwards;
}

.def-appear-delaym {
    animation: two-items-appear 1s 1s forwards;
}